.comunidade-atos-image {
    background-image: url('../../assets/comunidadeAtos.jpg');
    background-size: cover;
}

@media all and (orientation: portrait) {
    .mobile {
        width: 70%;
        height: 60%;
    }
}

@media all and (orientation: landscape) {
    .mobile{
        width: 30%;
        height: 50%;
    }
}